*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}

/* Apply basic styles to the form container */
#main {
    width: 400px;
    margin: 60px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the form title */
#form h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style the form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style the form input fields */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Add specific styles to the username and password inputs */
#username, #password, #conpass {
    background-color: #f9f9f9;
}


#submit-button {
    background-color: #70cacd;
    color: #222;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    font-weight: 600;
}

/* Style the submit button on hover */
#submit-button:hover {
    background-color: #379b9e;
}

/* show the error message in red color  */
span{
    color: red;
    font-weight: 600;
}
